beautifulsoup4==4.9.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==2.0.12
click==8.1.8
cryptography==3.4.8
Flask==2.0.1
Flask-Cors==3.0.10
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
msal==1.12.0
pycparser==2.22
PyJWT==2.10.1
requests==2.26.0
six==1.17.0
soupsieve==2.6
urllib3==1.26.20
Werkzeug==2.0.3
